# Ignore environment files
.env*
.env*/
.env.local*

# Ignore the node_modules folder
node_modules

# Optional: Ignore any build or log artifacts
dist
*.log

# Ignore generated output files
output.mp3
finalOutput.mp4

# Ignore macOS specific files
.DS_Store

Sam2.mp4
SamOG.mp4